
@import '../../node_modules/spectre.css/dist/spectre.min.css';

body {
    display: flex;
}

.bingo-card-field {
    border: 1px solid;
    font-size: 1.4em;
    padding: 1em;
    text-align: center;
    cursor: pointer;
}

.bingo-card-field:empty {
    border: none;
}

.flex {display: flex;}
